<table class="zebra-striped">
	<thead>
		<th>#</th>
		<th>Dominio</th>
		<th>¿Habilitado?</th>
		<th style="width: 60px;">Eliminar</th>
	</thead>
	<tbody>
		{% for dominio in dominios %}
		<tr>
			<td>{{ dominio.pkid }}</td>
			<td>{{ dominio.domain }}</td>
			<td>
				{% if dominio.enabled %}
					habilitado
				{% else %}
					inhabilitado
				{% endif %}
			</td>
			<td style="text-align:center;">
				<a href="{{ path('dominio_delete', { 'id': dominio.pkid}) }}" class="delete-link">
					<img src="{{ asset('bundles/mailmanager/images/delete.png') }}" style="width:20px;">
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>