{% if( app.session.flash('notice') ) %}
<div class="notice">
	<p>{{ app.session.flash('notice') }}</p>
</div>
{% endif %}

{{ form_errors(form) }}

<form id="form_nuevo_dominio" action="{{ path('dominio_new') }}" method="post" {{ form_enctype(form) }}>
	<div class="span12">
		<div class="row">
			<div class="offset2 span2">
				{{ form_errors(form.enabled) }}
				{{ form_label(form.enabled) }}
			</div>
			<div class="span4"> 
				{{ form_errors(form.domain) }}
				{{ form_label(form.domain) }}
			</div>
			<div class="span4"> 
			</div>
		</div>
		<div class="row hide-grid">
			<div class="offset2 span2" style="text-align:right;">
				{{ form_widget(form.enabled) }}
			</div>
			<div class="span4"> 
				{{ form_widget(form.domain) }}
			</div>
			<div class="span4"> 
				<input id="submit_nuevo_dominio" type="submit" class="btn" value="Añadir Dominio" />
			</div>
		</div>
	</div>
	{# form_rest(form) #}

	{{ form_errors(form._token) }}
	{{ form_widget(form._token) }}
</form>
<div id="status"></div>