{% extends "::base.html.twig" %}

{% block page_title %}
	<h1>Dominios</h1>
{% endblock %}
	
{% block body %}
	<div class="span3">
		<a href="{{ path('dominio_new') }}" id="boton_new" class="btn large primary">Nuevo</a>
	</div>
	<div class="span12" id="form_div" style="display:none;">
	</div>

	<div class="row">
		<div class="span12" id="form-info"></div>
	</div>
	<div id="list-div">
		{% include "MailManagerBundle:Dominio:_list.html.twig" %}
	</div>
{% endblock %}