<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Mail Manager{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
		<!-- Styles !-->
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" />
		<link href="{{ asset('bundles/mailmanager/css/style.css') }}" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>


    <div class="topbar">
      <div class="fill">
        <div class="container">
			<a class="brand" href="#">Gestor de cuentas de correo</a>
			
			<div class=" pull-right">
				<ul class="tabs" data-tabs="tabs" >
					<li class="selected"><a href="{{ path('dominio_index') }}">Dominios</a></li>
					<li><a href="{{ path('cuenta_index') }}">Cuentas</a></li>
					<li><a href="{{ path('alias_index') }}">Alias</a></li>
				</ul>
			</div>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
		  
		  
        <div class="page-header">
			{% block page_title %}
			{% endblock %}
        </div>
        <div class="row">
				{% block body %}
					<section>
					</section>
				{% endblock %}
        </div>
      </div>

      <footer>
        <p>Vicent Soria Durá 2012</p>
      </footer>

    </div> <!-- /container -->
	
	
		
        {% block javascripts %}
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
            <script src="{{ asset('bundles/mailmanager/js/bootstrap-tabs.js') }}"></script>
            <script src="{{ asset('bundles/mailmanager/js/bootstrap-modal.js') }}"></script>
            <script src="{{ asset('bundles/mailmanager/js/bootstrap-buttons.js') }}"></script>
            <script src="{{ asset('bundles/mailmanager/js/bootstrap-alerts.js') }}"></script>
            <script src="{{ asset('bundles/mailmanager/js/jquery.blockUI.js') }}"></script>
			
			<script>
				$(document).ready(function(){
					$('#boton_new').on('click', function(event){
						event.preventDefault();
						$('#form_div').load($(this).attr('href'), function(){
							
							$('.alert-message').alert('close');
							$(this).slideDown();
						});
					});
					
					$('#form_div').on('submit', '#form_nuevo_dominio', function(event){
						event.preventDefault();
						
						$.blockUI();
						
						$.ajax({
							type: $(this).attr('method'), 
							url: $(this).attr('action'),
							data: $(this).serialize(),
							success: function(data){
								$('#list-div').html(data);
								$('#form_div').slideUp();

								$('#form-info').html('{{ '<div class="alert-message success"><a class="close" href="#">×</a><p>El dominio ha sido creado satisfactoriamente</p></div>' | e('js') }}');
								$('.alert-message').alert()
								$.unblockUI();
							}
						});
					});
					
					$('#list-div').on('click', '.delete-link', function(event){
						event.preventDefault();
						
						$.blockUI(); 
						
						$.ajax({
							type: "GET", 
							url: $(this).attr('href'),
							success: function(data){
								$.ajax({
									type: "GET", 
									url: '{{ path('dominio_list') }}',
									success: function(data){
										$('#list-div').html(data);
										$.unblockUI();
									}
								});
							}
						});
					});
					
					$('.tabs').tabs()
				});
			</script>
		{% endblock %}
    </body>
</html>