<table class="zebra-striped">
	<thead>
		<th>Correo</th>
		<th>Nombre</th>
		<th>¿Habilitado?</th>
		<th style="width: 60px;">Eliminar</th>
	</thead>
	<tbody>
		{% for cuenta in cuentas %}
		<tr>
			<td>{{ cuenta.id }}</td>
			<td>{{ cuenta.name }}</td>
			<td>
				{% if cuenta.enabled %}
					habilitado
				{% else %}
					inhabilitado
				{% endif %}
			</td>
			<td style="text-align:center;">
				<a href="{{ path('cuenta_delete', { 'id': cuenta.id}) }}" class="delete-link">
					<img src="{{ asset('bundles/mailmanager/images/delete.png') }}" style="width:20px;">
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>