{% if( app.session.flash('notice') ) %}
<div class="notice">
	<p>{{ app.session.flash('notice') }}</p>
</div>
{% endif %}

{{ form_errors(form) }}

<form id="form_nuevo_dominio" action="{{ path('cuenta_new') }}" method="post" {{ form_enctype(form) }}>
	<div class="span12">
		<div class="row">
			<div class="span1">
				{{ form_errors(form.enabled) }}
				{{ form_label(form.enabled) }}
			</div>
			<div class="span4"> 
				{{ form_errors(form.id) }}
				{{ form_label(form.id) }}
			</div>
			<div class="span3"> 
				{{ form_label(form.name, 'Nombre' | trans) }}
			</div>
			<div class="span3">
				{{ form_label(form.clear.first, 'Contraseña' | trans) }}
			</div>
		</div>
		<div class="row hide-grid">
			<div class="span1" style="text-align:right;">
				{{ form_widget(form.enabled) }}
			</div>
			<div class="span4"> 
				{{ form_widget(form.id) }}
			</div>
			<div class="span3"> 
				{{ form_widget(form.name, { 'attr': {'class': 'span3'} }) }}
			</div>
			<div class="span3"> 
				{{ form_widget(form.clear.first, { 'attr': {'class': 'span3'} })  }}
				{{ form_label(form.clear.second, 'Repite tu contraseña' | trans) }}
				{{ form_widget(form.clear.second, { 'attr': {'class': 'span3'} })  }}
			</div>
			<div class="span1"> 
				<input id="submit_nueva_cuenta" type="submit" class="btn" value="Añadir Cuenta" />
			</div>
		</div>
	</div>
	{# form_rest(form) #}

	{{ form_errors(form._token) }}
	{{ form_widget(form._token) }}
</form>
<div id="status"></div>