{% extends "::base.html.twig" %}

				
{% block page_title %}
	<h1>Cuentas</h1>
{% endblock %}
	
{% block body %}
	<div class="span2">
		<a href="{{ path('cuenta_new') }}" id="boton_new" class="btn large primary">Nuevo</a>
	</div>
	<div class="span14" id="form_div" style="display:none;">
	</div>

	<div class="row">
		<div class="span14" id="form-info"></div>
	</div>
	<div id="list-div">
		{% include "MailManagerBundle:Cuenta:_list.html.twig" %}
	</div>
{% endblock %}